:root{
    --color-blue: #006cff;
    --color-text: #4a4a4a;
}
@font-face{
    src: url(../fonts/iranyekanwebregular.eot) format('eot'),
    url(../fonts/iranyekanwebregular.ttf) format('ttf'),
    url(../fonts/iranyekanwebregular.woff) format('woff');
    font-family: 'b-yekan';
}
@font-face{
    src: url(../fonts/iranyekanwebbold.eot) format('eot'),
    url(../fonts/iranyekanwebbold.ttf) format('ttf'),
    url(../fonts/iranyekanwebbold.woff) format('woff');
    font-family: 'b-yekan-bold';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'b-yekan-bold';
}
.text-bold{
    font-family: 'b-yekan-bold';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
    font-family: 'b-yekan';
}
.container .row{
    height: auto;
}
.container .row div{
    height: 50px;
}
.row div:nth-child(2n+1){
    background-color: aqua;
}
.row div:nth-child(2n){
    background-color: #006cff;
}
.container-fluid{
    margin-top: 30px;
}
.container-fluid .row div{
    height: 50px;
}
