:root{
    --color-blue: #78d6fa;
}
@font-face{
    src: url(../fonts/iranyekanwebregular.eot) format('eot'),
    url(../fonts/iranyekanwebregular.ttf) format('ttf'),
    url(../fonts/iranyekanwebregular.woff) format('woff');
    font-family: 'b-yekan';
}
@font-face{
    src: url(../fonts/iranyekanwebbold.eot) format('eot'),
    url(../fonts/iranyekanwebbold.ttf) format('ttf'),
    url(../fonts/iranyekanwebbold.woff) format('woff');
    font-family: 'b-yekan-bold';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'b-yekan-bold' !important;
}
.text-bold{
    font-family: 'b-yekan-bold' !important;
}
body{
    font-family: 'b-yekan' !important;
    direction: rtl;
}
.vw-100,
.container-fluid .row{
    max-width: 100%;
}