:root{
    --color-blue: #78d6fa;
}
@font-face{
    src: url(../fonts/iranyekanwebregular.eot) format('eot'),
    url(../fonts/iranyekanwebregular.ttf) format('ttf'),
    url(../fonts/iranyekanwebregular.woff) format('woff');
    font-family: 'b-yekan';
}
@font-face{
    src: url(../fonts/iranyekanwebbold.eot) format('eot'),
    url(../fonts/iranyekanwebbold.ttf) format('ttf'),
    url(../fonts/iranyekanwebbold.woff) format('woff');
    font-family: 'b-yekan-bold';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'b-yekan-bold' !important;
}
.text-bold{
    font-family: 'b-yekan-bold' !important;
}
body{
    font-family: 'b-yekan' !important;
    direction: rtl;
}
.vw-100,
.container-fluid .row{
    max-width: 100%;
}
/* ====================== HEADER ====================== */
header{
    background: url(../img/Container.jpg) no-repeat top center;
    background-size: cover;
}
header #content-header{
    height: 86% !important;
}
.hr-custom{
    width: 100px;
    border-top: 1px solid var(--color-blue);
}
/* ====================== SERVICES ====================== */
#services .row .col-md-4:nth-child(2) div{
    background-color: #6d9dbd;
}
#services .row .col-md-4:nth-child(3) div{
    background-color: #c0392b;
}
#services .row .col-md-4:nth-child(4) div{
    background-color: #3498db;
}
/* ====================== ABOUT US ====================== */
#about-us .row .offset-lg-6 #our-story{
    width: 183px;
    height: 183px;
    background-color: #35c2f8;
}
/* ====================== AWESOME TEAM ====================== */
#other-expertise,
#awesome-team{
    background-color: #f7f7f7;
}
#awesome-team .team{
    width: 235px;
    height: 235px;
}
#awesome-team .a-custom{
    width: 30px;
    height: 30px;
}
#awesome-team .social-media .a-custom.pinterest:hover{
    background-color: #cb2028 !important;
}
#awesome-team .social-media .a-custom.facebook:hover{
    background-color: #3b5998 !important;
}
#awesome-team .social-media .a-custom.twitter:hover{
    background-color: #00aced !important;
}
/* ====================== FOOTER ====================== */
footer{
    background-color: #111111;
}
footer textarea{
    height: 150px;
}
footer form input::placeholder,
footer form textarea::placeholder{
    color: #b6b6b6 !important;
}
footer form input[type="submit"]{
    background-color: #35c2f8;
}
footer form input[type="submit"]:hover{
    background-color: #30afe0;
}
footer .border-footer{
    border-top: 1px solid #f6f6f6bc;
}
.offcanvas{
    background-color: #f7f7f7 !important;
}






/* ====================== RESPONSIVE STYLES ====================== */
@media (max-width: 991px) {
    #about-us .row .offset-lg-6{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center !important;
    }   
    #about-us .row .offset-lg-6 .text-start{
        text-align: center !important;
    }
}
@media (min-width: 992px) {
    #about-us .row .offset-lg-6:nth-child(2n+1) {
        margin-left: initial;
        margin-right: 50%;
    }
    #about-us .row .offset-lg-6:nth-child(2n) {
        flex-direction: row-reverse;
    }
    #about-us .row .offset-lg-6:nth-child(2n+1) img{
        transform: translateX(50%);
    }
    #about-us .row .offset-lg-6:nth-child(2n) img{
        transform: translateX(-50%);
    }
    #about-us .row .offset-lg-6:nth-child(2n+1) div{
        transform: translateX(15%);
    }
    #about-us .row .offset-lg-6:nth-child(2n) div{
        transform: translateX(-15%);
    }
    #about-us .row .offset-lg-6 #our-story{
        transform: translateX(50%);
    }
    #about-us .circle-connector{
        position: relative;
    }
    #about-us .circle-connector::after{
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #e3e3e3;
        z-index: -1;
    }
    #about-us .circle-connector:nth-child(2n)::after{
        transform: translateX(-1px);
    }
    #about-us .circle-connector:first-child::after{
        height: 50% !important;
        transform: translateY(50%);
    }
    #about-us .circle-connector:last-child::after{
        height: 50% !important;
        transform: translateY(-50%);
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    
}
@media (max-width: 575px) {
    .col-lg-12 .row,
    .g-0 .row{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    p.w-75.w-100-inMobile{
        width: 100% !important;
    }

}