:root{
    --color-blue: #78d6fa;
}
@font-face{
    src: url(../fonts/iranyekanwebregular.eot) format('eot'),
    url(../fonts/iranyekanwebregular.ttf) format('ttf'),
    url(../fonts/iranyekanwebregular.woff) format('woff');
    font-family: 'b-yekan';
}
@font-face{
    src: url(../fonts/iranyekanwebbold.eot) format('eot'),
    url(../fonts/iranyekanwebbold.ttf) format('ttf'),
    url(../fonts/iranyekanwebbold.woff) format('woff');
    font-family: 'b-yekan-bold';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'b-yekan-bold' !important;
}
.text-bold{
    font-family: 'b-yekan-bold' !important;
}
body{
    font-family: 'b-yekan' !important;
    direction: rtl;
}
.vw-100,
.container-fluid .row{
    max-width: 100%;
}
/* ====================== HEADER ====================== */
header{
    background: url(../img/Container.jpg) no-repeat top center;
    background-size: cover;
}
header #content-header{
    height: 86% !important;
}
.hr-custom{
    width: 100px;
    border-top: 1px solid var(--color-blue);
}
/* ====================== SERVICES ====================== */
#services .row .col-md-4:nth-child(2) div{
    background-color: #6d9dbd;
}
#services .row .col-md-4:nth-child(3) div{
    background-color: #c0392b;
}
#services .row .col-md-4:nth-child(4) div{
    background-color: #3498db;
}
/* ====================== ABOUT US ====================== */
#about-us .row .offset-lg-6 #our-story{
    width: 183px;
    height: 183px;
    background-color: #35c2f8;
}