.color{background: #FA8072;}
#n1{height: 100px;width: 100%;}
.height{height: 100px;}
.width440{width: 440px;}
.width30{width: 400px;}
#n2{height: 100px;width: 100%;}
.margin{margin: 20px 20px 20px 20px;}
