@font-face{
    src: url(../fonts/iranyekanwebregular.eot) format('eot'),
    url(../fonts/iranyekanwebregular.ttf) format('ttf'),
    url(../fonts/iranyekanwebregular.woff) format('woff');
    font-family: 'b-yekan';
}
@font-face{
    src: url(../fonts/iranyekanwebbold.eot) format('eot'),
    url(../fonts/iranyekanwebbold.ttf) format('ttf'),
    url(../fonts/iranyekanwebbold.woff) format('woff');
    font-family: 'b-yekan-bold';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'b-yekan-bold' !important;
}
.text-bold{
    font-family: 'b-yekan-bold' !important;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
#calculator{
    background: linear-gradient(to top right, #43389f 0%, #4ec6ca 100%);
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    
}
#display{
    background-color: rgba(255, 255, 255, 0.2);
}
.grid-item{
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 80px;
    max-height: 45px;
}
.grid-item:active{
    background-color: rgba(255, 255, 255, 0.2);
}
.grid-container .grid-item:nth-child(4n){
    background-color: rgba(255, 255, 255, 0.2);
}
.grid-container .grid-item:nth-child(4n):active{
    background-color: rgba(255, 255, 255, 0.3);
}
.grid-item::selection{
    background-color: transparent;
}
#display:focus{
    border: var(--bs-border-width) solid var(--bs-border-color);
    box-shadow: initial;
}
#display::selection{
    background-color: transparent;
}