:root{
    --color-green-hover: #007768;
    --color-green-bg: #008374;
    --color-green-btn: #1a9384;
}
@font-face{
    src: url(../fonts/iranyekanwebregular.eot) format('eot'),
    url(../fonts/iranyekanwebregular.ttf) format('ttf'),
    url(../fonts/iranyekanwebregular.woff) format('woff');
    font-family: 'b-yekan';
}
@font-face{
    src: url(../fonts/iranyekanwebbold.eot) format('eot'),
    url(../fonts/iranyekanwebbold.ttf) format('ttf'),
    url(../fonts/iranyekanwebbold.woff) format('woff');
    font-family: 'b-yekan-bold';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'b-yekan-bold' !important;
}
.text-bold{
    font-family: 'b-yekan-bold' !important;
}
body{
    font-family: 'b-yekan' !important;
    direction: rtl;
}
#nav-top{
    background-color: var(--color-green-hover);
}
nav .dropdown-menu{
    background-color: var(--color-green-btn);
}
nav .dropdown-menu a:hover,
nav .dropdown-menu a:active,
nav .dropdown-menu a:focus{
    background-color: var(--color-green-hover) !important;
}
#main-project{
    background-color: var(--color-green-bg);
}
.btn-custom{
    background-color: var(--color-green-btn);
}
.btn-custom:hover{
    background-color: var(--color-green-hover) !important;
}
#project-2{
    transform: translateY(50%);
}
#project-2 .col-md-3 #color-pj-2{
    background-color: #008374;
}
.offcanvas{
    background-color: var(--color-green-hover) !important;
}



@media (max-width:720px) {
    #project-2{
        transform: none;
    }
}
