:root{
    --color-blue: #006cff;
    --color-text: #4a4a4a;
}
@font-face{
    src: url(../fonts/iranyekanwebregular.eot) format('eot'),
    url(../fonts/iranyekanwebregular.ttf) format('ttf'),
    url(../fonts/iranyekanwebregular.woff) format('woff');
    font-family: 'b-yekan';
}
@font-face{
    src: url(../fonts/iranyekanwebbold.eot) format('eot'),
    url(../fonts/iranyekanwebbold.ttf) format('ttf'),
    url(../fonts/iranyekanwebbold.woff) format('woff');
    font-family: 'b-yekan-bold';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'b-yekan-bold';
}
.text-bold{
    font-family: 'b-yekan-bold';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'b-yekan' !important;
}
#main-project #project-1 .card{
    transition: all .5s;
}
#main-project #project-1 .card:hover{
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
    transition: all .5s;
}
#main-project #project-1 .card-img-top.image{
    position: relative;
    overflow: hidden;
}
#main-project #project-1 .card-img-top img{
    height: 250px;
    object-fit: contain;
    transform: scale(1.9);
}
#main-project #project-1 .image-mask{
    background: linear-gradient(to top, #2f2727, transparent);
    height: 100%;
    position: absolute;
    right: 0;
    bottom: -100%;
    left: 0;
    transition: all .5s;
}
#main-project #project-1 .card:hover .image-mask{
    bottom: 0;
    transition: all .5s;
}
#main-project #project-1 .card .card-img-top.image a{
    top: -2rem;
    right: 1.5rem;
    transition: all .5s;
    font-size: small;
    font-weight: 500;
}
#main-project #project-1 .card:hover .card-img-top.image a{
    top: 2rem;
    transition: all .5s;
}
#main-project #project-1 .card .card-img-top.image span{
    bottom: -2rem;
    right: 1.5rem;
    transition: all .5s;
    font-size: 11px;
    font-weight: 400;
    direction: rtl;
}
#main-project #project-1 .card:hover .card-img-top.image span{
    bottom: 1.5rem;
}
#main-project #project-2 .row{
    flex-direction: row-reverse;
}
#main-project #project-2 .row .card-body{
    direction: rtl;
}
#project-3 p{
    position: relative;
}
#project-3 p::before{
    content: "";
    position: absolute;
    width: 95px;
    height: 1px;
    background-color: transparent;
    bottom: 0;
    transform: translateX(-30px);
    transition: all .5s;
}
#project-3 p:hover::before{
    background-color: red;
    transform: translateX(-8px);
    transition: all .5s;

}
#project-4 p{
    position: relative;
}
#project-4 p::before{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: red;
    bottom: 0;
    transform: translateX(-55.5px);
    transition: all .5s;
}
#project-4 p:hover::before{
    width: 95px;
    background-color: red;
    transform: translateX(-8px);
    transition: all .5s;
}
#project-5 p{
    position: relative;
}
#project-5 p::before{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: transparent;
    bottom: 0;
    transform: translateX(-55.5px);
    transition: all .5s;
}
#project-5 p:hover::before{
    width: 95px;
    background-color: red;
    transform: translateX(-8px);
    transition: all .5s;
}
