:root{
    --color-purple: #5454D4;
    --color-hover: #4a4ab8;
}
@font-face{
    src: url(../fonts/iranyekanwebregular.eot) format('eot'),
    url(../fonts/iranyekanwebregular.ttf) format('ttf'),
    url(../fonts/iranyekanwebregular.woff) format('woff');
    font-family: 'b-yekan';
}
@font-face{
    src: url(../fonts/iranyekanwebbold.eot) format('eot'),
    url(../fonts/iranyekanwebbold.ttf) format('ttf'),
    url(../fonts/iranyekanwebbold.woff) format('woff');
    font-family: 'b-yekan-bold';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'b-yekan-bold' !important;
}
.text-bold{
    font-family: 'b-yekan-bold' !important;
}
body{
    font-family: 'b-yekan' !important;
    direction: rtl;
    background-color: #19191B !important;
}
/* ====================== NAV ====================== */
.navbar-nav{
    padding-right: initial !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color-purple) !important;
}
.navbar .navbar-nav .nav-link{
    color: #fff;
}
.nav-link:focus, .nav-link:hover{
    color: var(--color-purple) !important;
    opacity: 1 !important;
}
.offcanvas{
    background-color: #1d1d20 !important;
}
/* ====================== HEADER ====================== */
header .btn-custom,
footer #main-footer .btn-custom{
    background-color: var(--color-purple);
    box-shadow: 0px 4px 4px 0px #00000040;
}
header{
    height: 100vh;
}
header #el-circle{
    top: 4rem;
}
header #el-vector{
    top: 6rem;
}
header #el-add{
    bottom: 3rem;
}
header #el-play{
    bottom: 3rem;
    transform: translateX(50%);
}
/* ====================== VIDEO ====================== */
#video #img-video{
    height: 670px;
}
#video #img-video i{
    background-color: var(--color-purple);
    font-size: 3rem;
    width: 100px;
    height: 100px;
    padding-left: 10px;
}
/* ====================== SERVICES ====================== */
#services #el-play-2{
    left: 5rem;
}
#services #el-add-2{
    top: 5rem;
}
/* ====================== SLIDE ====================== */
.carousel-indicators [data-bs-target] {
    background-color: var(--color-purple) !important;
}
.carousel-control-next,
.carousel-control-prev{
    color: var(--color-purple) !important;
}