:root{
    --color-blue: #006cff;
    --color-text: #4a4a4a;
}
@font-face{
    src: url(../fonts/iranyekanwebregular.eot) format('eot'),
    url(../fonts/iranyekanwebregular.ttf) format('ttf'),
    url(../fonts/iranyekanwebregular.woff) format('woff');
    font-family: 'b-yekan';
}
@font-face{
    src: url(../fonts/iranyekanwebbold.eot) format('eot'),
    url(../fonts/iranyekanwebbold.ttf) format('ttf'),
    url(../fonts/iranyekanwebbold.woff) format('woff');
    font-family: 'b-yekan-bold';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'b-yekan-bold';
}
.text-bold{
    font-family: 'b-yekan-bold';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
    font-family: 'b-yekan';
}
.container{
    width: 1024px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
/* ====================== HEADER ====================== */
header .menu{
    display: none;
}
nav ul li{
    float: right;
    margin-top: 20px;
    list-style: none;
    margin-right: 15px;
    margin-left: 15px;
}
nav ul li a:hover{
    color: var(--color-blue);
    border-bottom: 1px solid var(--color-blue);
    padding-bottom: 3px;
}
.a{
    color: #fff;
    text-decoration: none;
}
button{
    font-family: "b-yekan";
}
#btn-lang{
    padding: 6px 18px;
    background-color: var(--color-blue);
    border-radius: 30px;
    box-shadow: 0px 2px 4px 0px #000;
}
#btn-lang:hover{
    color: #fff;
    border-bottom: none;
    background-color: #0063ee;
}
#btn-lang .fa-solid{
    margin-left: 6px;
}
.logo{
    float: left;
    margin-top: 20px;
    /* margin-left: ; */

}
.logo img{
    width: 177px;
    height: 58px;
    float: left;
    
}
header{
    width: 100%;
    height: 100vh;
    background: url(../img/IMG_20240929_092733_553.jpg) no-repeat top center;
    background-size: cover;
}
.pattern-header{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.content-header{
    float: right;
    margin-top: 250px;
}
.content-header h1{
    color: #fff;
}
.content-header h2{
    color: var(--color-blue);
    margin: 10px 0 20px 0;
}
.content-header p{
    color: #ccc;
    width: 45%;
}
.content-header .btn-more{
    margin-top: 25px;
    background-color: var(--color-blue);
    padding: 0px 0px 0px 15px ;
    border: none;
    color: #fff;
}
.content-header .btn-more:hover{
    background-color: #0063ee;
}
.btn-more .fa-solid{
    background-color: #fff;
    color: var(--color-blue);
    padding: 10px;
    margin-left: 15px;
}
/* ====================== CLOUD ====================== */
.main-mouse{
    float: right;
    width: 100%;
    text-align: center;
    margin-top: -20.5px;
    position: relative;
    animation: moveIcon ease-in-out 1s 3;
}
.main-mouse i{
    color: #fff;
    font-size: 1.2rem;
    padding: 11px 8px;
    border-radius: 43%;
    background-color: var(--color-blue);
    box-shadow: 0px 2px 4px 0px #000;
}
#cloud{
    float: right;
    background: url(../img/cloud.png) no-repeat top center;
    width: 100%;
    height: 410px;
}
.main-cloud{
    width: 100%;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.main-cloud p{
    width: 50%;
    text-align: center;
    color: var(--color-text);
}
.main-cloud p:nth-child(2){
    margin-top: 30px;
}
/* ====================== SERVICES ====================== */
#services{
    float: right;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.main-services{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.main-services hr{
    position: absolute;
    width: 70%;
    top: 60px;
    right: 15%;
    z-index: -1;
}
.main-services .item-services{
    width: 25%;
    text-align: center;
    
}
.main-services .item-services .circle{
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-services .item-services .circle .circle-inner{
    width: 108px;
    height: 108px;
    border: 4px solid #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-services .item-services .circle i{
    color: #fff;
    font-size: 2rem;
}
.main-services .item-services h3{
    margin-top: 30px;
    color: var(--color-text);
}
.main-services .item-services p{
    margin-top: 10px;
    font-size: 14px;
    color: var(--color-text);
}
/* ====================== PROJECT ====================== */
#project,
#slider{
    width: 100%;
    float: right;
    margin-top: 100px;
    margin-bottom: 120px;
}
#project hr{
    float: inline-start;
}
#project .title-project,
#slider .title-slider{
    width: 100%;
    float: right;
    text-align: center;
}
#project .title-project h2,
#slider .title-slider h2{
    color: var(--color-text);
}
#project .title-project p,
#slider .title-slider p{
    width: 50%;
    margin: 10px auto;
    color: var(--color-text);
}
#project .main-project{
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
#project .main-project .item-project{
    width: 490px;
    background-color: #f6f6f6;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #f6f6f6;
    transition: all ease-in-out .4s;
}
#project .item-project img{
   width: 201px;
   height: 250px;
   float: right;
   border-radius: 8px; 
}
#project .item-project .content-project{
    float: left;
    width: 230px;
    padding: 10px;
}
#project .item-project h4{
    color: #5c5c5c;
}
#project .item-project p{
    float: left;
    color: #7a7a7a;
    font-size: 14px;
}
#project .item-project .btn-project{
    margin-top: 20px;
    padding: 5px 12px;
    border-radius: 15px;
    background-color: #f6f6f6;
    color: #5c5c5c;
    border: 1px solid #ccc;
    text-decoration: none;
    float: right;
    font-size: 12px;
    transition: all ease-in-out .4s;
}
#project .main-project .item-project:hover{
    background-color: #fff;
    border-color: var(--color-blue);
    transition: all ease-in-out .4s;
}
#project .main-project .item-project:hover .btn-project{
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: #fff;
    transition: all ease-in-out .4s;
}
#project .item-project .btn-project-main{
    width: 100%;
}
#btn-project{
    float: right;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#btn-project a{
    padding: 7px 20px;
    background-color: var(--color-blue);
    border-radius: 21px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 2px 4px 0px #000;
}
#btn-project a:hover{
    background-color: #0063ee;
}
/* ====================== VIDEO ====================== */
#background-video{
    background: url(../img/background-video.jpg) no-repeat top center;
    float: right;
    height: 600px;
    width: 100%;
    background-size: cover;
    position: relative;
}
.pattern-video{
    background-color: rgba(0, 0, 0, 0.7);
    height: 600px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}
#background-video .content-video{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#background-video .content-video i{
    color: #fff;
    font-size: 5rem;
}
#background-video .content-video h2{
    color: var(--color-blue);
    margin-top: 15px;
}
#background-video .content-video p{
    color: #fff;
    margin-top: 10px;
    width: 50%;
    font-size: 14px;
}
/* ====================== SLIDER ====================== */
#slider .main-slider{
    float: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
#slider .main-slider .slide{
    width: 440px;
    background-color: #f6f6f6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
#slider .main-slider img{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin-top: -85px;
}
#slider .main-slider p{
    text-align: center;
    font-size: 14px;
    color: #7a7a7a;
    margin-top: 15px;
}
#slider .main-slider p b{
    color: #5a5a5a;
}
#slider .main-slider i{
   width: 50px;
   height: 50px;
   border-radius: 100%;
   background-color: #f6f6f6;
   color: #fff; 
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
}
#slider .main-slider i:active{
    background-color: var(--color-blue);
}
/* ====================== FOOTER ====================== */
footer{
    float: right;
    width: 100%;
    height: 300px;
    background-color: var(--color-blue);
    position: relative;
}
footer .fa-arrow-up{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: absolute;
    top: -20px;
    right: 80px;
}
footer ul li{
    list-style: none;
    font-size: 13px;
    margin-bottom: 5px;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer .main-footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .main-footer .item-footer{
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
footer h3{
    color: #fff;
    margin-bottom: 20px;
}
footer .main-footer p{
    color: #fff;
    font-size: 12px;
    margin-bottom: 15px;
}
footer .item-footer img{
    width: 177px;
    height: 36px;
    margin-bottom: 15px;
}
footer .icon-footer a{
    margin-left: 8px;
    font-size: 14px;
}
footer .bottom-footer{
    float: right;
    width: 100%;
    height: 30px;
    background-color: var(--color-blue);
    border-top: 1px solid #ffffff63;
    display: flex;
    align-items: center;
}
footer .bottom-footer p{
    color: #fff;
    font-size: 10px;
    font-weight: 100;
}











@keyframes moveIcon{
    0%{
        margin-top: -61.5px;
    }
    50%{
        margin-top: -20.5px;
    }
    100%{
        margin-top: -61.5px;
    }
}
/* ====================== RESPONSIVE STYLES ====================== */
@media (min-width:320px) and (max-width:480px){
    .container{
        width: 100%;
        padding: 0 12px;
    }
    nav{
        display: none;
    }
    header .menu{
        display: block;
        float: right;
        width: 30px;
        height: auto;
        margin-top: 25px;
    }
    header .menu .menuu{
        width: 30px;
        height: 4px;
        border-radius: 20%;
        background-color: #fff;
        margin: 6px;
    }
    header .menu:hover .menuu{
        background-color: var(--color-blue);
    }
    .content-header p,
    .main-cloud p,
    .main-services .item-services p,
    #project .title-project p,
    #slider .title-slider p,
    #background-video .content-video p{
        width: 100%;
    }
    .main-mouse{
        display: none;
    }
    .main-cloud{
        position: relative;
    }
    #services{
        margin-bottom: 0;
    }
    .main-services{
        flex-wrap: wrap;
    }
    .main-services hr{
        display: none;
    }
    .main-services .item-services{
        width: 100%;
        margin-bottom: 50px;
    }
    .main-services .item-services h3{
        margin-top: 25px;
    }
    #services,
    #project,
    #slider{
        margin-top: 50px;
    }
    #project .main-project .item-project{
        width: 100%;
        text-align: center;
    }
    #project .item-project img{
        float: initial;
    }
    #project .item-project .content-project{
        width: 100%;
        float: initial;
        display: flex;
        flex-direction: column;
    }
    #project .item-project .btn-project-main{
        display: flex;
        justify-content: center;
    }
    #btn-project{
        margin-top: 20px;
    }
    #project{
        margin-bottom: 90px;
    }
    #background-video{
        height: 50vh;
    }
    .pattern-video{
        height: 50vh;
    }
    #slider{
        margin-bottom: 40px;
    }
    #slider .main-slider{
        flex-wrap: wrap;
    }
    #slider .main-slider i{
        display: none;
    }
    #slider .main-slider .slide{
        width: 100%;
        margin-bottom: 75px;
    }
    footer{
        height: auto;
    }
    footer .main-footer{
        flex-wrap: wrap;
        height: auto;
        padding: 12px;
    }
    footer .main-footer .item-footer{
        width: 45%;
        margin-bottom: 15px;
    }
    footer .item-footer img{
        position: absolute;
        left: 5px;
    }
    footer .main-footer #item-footer-4 p{
        margin-top: 52px;
    }

}

@media (min-width:481px) and (max-width:760px){
    .container{
        width: 100%;
        padding: 0 20px;
    }
    nav{
        display: none;
    }
    header .menu{
        display: block;
        float: right;
        width: 30px;
        height: auto;
        margin-top: 25px;
    }
    header .menu .menuu{
        width: 30px;
        height: 4px;
        border-radius: 20%;
        background-color: #fff;
        margin: 6px;
    }
    header .menu:hover .menuu{
        background-color: var(--color-blue);
    }
    .content-header p,
    .main-cloud p,
    .main-services .item-services p,
    #project .title-project p,
    #slider .title-slider p,
    #background-video .content-video p{
        width: 100%;
    }
    .main-mouse{
        display: none;
    }
    .main-cloud{
        position: relative;
    }
    #slider .main-slider .slide{
        width: 45%;
        padding: 15px;
        margin: 0 10px;
    }
    #slider .main-slider i{
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    } 
    footer .main-footer{
        padding: 12px;
        height: 300px;
        
    }
    footer .main-footer .item-footer{
        margin-bottom: 15px;
        height: 300px;
        margin-top: 40px;
    }
    footer .main-footer #item-footer-2,
    footer .main-footer #item-footer-3{
        width: 25%;
    }
    footer .item-footer img{
        position: absolute;
        left: 10px;
        bottom: 5px;
    }
    footer .main-footer #item-footer-4 p{
        margin-top: 52px;
    }

}

@media (min-width:761px) and (max-width:1024px){
    .container{
        width: 100%;
        padding: 0 30px;
    }
    nav{
        display: none;
    }
    header .menu{
        display: block;
        float: right;
        width: 30px;
        height: auto;
        margin-top: 25px;
    }
    header .menu .menuu{
        width: 30px;
        height: 4px;
        border-radius: 20%;
        background-color: #fff;
        margin: 6px;
    }
    header .menu:hover .menuu{
        background-color: var(--color-blue);
    }
    header .content-header{
        width: 90%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 0;
    } 
    .content-header p,
    .main-cloud p,
    .main-services .item-services p,
    #project .title-project p,
    #slider .title-slider p,
    #background-video .content-video p{
        width: 100%;
    }
    .main-mouse{
        display: none;
    }
    .main-cloud{
        position: relative;
    }
    #project .main-project .item-project{
        width: 45%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #project .item-project .content-project{
        width: 100%;
    }
    #project .item-project .btn-project-main{
        display: flex;
        justify-content: center;
    }
    #slider .main-slider .slide{
        width: 40%;
    }
    footer .item-footer img{
        position: absolute;
        left: 30px;
    }
    footer .main-footer #item-footer-4 p{
        margin-top: 52px;
    }

}